*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
}

/* menu */
nav ul{
  display: flex;
  gap: 40px;
  list-style: none;
}

/* links */
nav ul li a{
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px 0;
}

/* linha animada */
nav ul li a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0%;
  height: 2px;
  background: #ff0055;

  transition: 0.4s ease;
}

/* hover */
nav ul li a:hover::after{
  width: 100%;
}

nav ul li a:hover{
  color: #ff0055;
}